body{
  margin: 0;
}
/* Add_Game --------------------------------------------------- */
.disp{
  position: absolute;
  height: 100%;
  width: 100%;
  border: double 3px green;
}

.title_game{
  position: absolute;
  height: 60px;
  width: 100%;
  background: black;
  color: white;
  text-align: left;
}

.title_text{
  position: absolute;
  padding: 10px;
}

.pole{
  border: solid 3px rgb(179, 255, 0);
  margin-top: 60px;
  margin-left: 33%;
  float:center;
  height:90%;
  width:38%;
  background: gainsboro;
}

.player_name{
  width: 510px;
  height: 50px;
  background: gainsboro;
  position: absolute;
}

.first_player{
  position: absolute;
  display: flex;
  width:220px;
  height: 50px;
  left:0;
}
.second_player{
  position: absolute;
  display: flex;
  right:0; 
  width: 220px;
  height: 50px;
}

.pic_cross{
  position: absolute;
  height: 50px;
  width: 50px;
  background: blueviolet;
  right:0;  
  background-image: url(./components/picture/cross.png) ;
  background-size: cover;
}

.pic_zero{
  position: absolute;
  left:0;
  height: 50px;
  width: 50px;
  background: rgb(226, 43, 43);
  background-image: url(./components/picture/zero.png) ;
  background-size: cover;
}

.winner{
  height:30px;
  width: 200px;
  background: red;
  position: absolute;
  top: 55px;
  right: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.my-flex-container{
  margin-top: 100px;
  margin-left: 20%;
  border: solid 1px rgb(143, 131, 170);
  height:302px;
  width: 320px; 
  display: flex;
  flex-wrap: wrap;
}
.my-flex-block-A1{  
  border: solid 3px orange;
  height: 100px;
  width:  100px;
  border-left: none;
  border-top: none;
  
}
.my-flex-block-A2{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-top: none;
}
.my-flex-block-A3{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-top: none;
  border-right: none;
}
.my-flex-block-B1{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-left: none;
}
.my-flex-block-B2{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
}
.my-flex-block-B3{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-right: none;
}
.my-flex-block-C1{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-left: none;
  border-bottom: none;
}
.my-flex-block-C2{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-bottom: none;
}
.my-flex-block-C3{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-bottom: none;
  border-right: none;
}

.cross{  
  height: 100px;
  width: 100px;
  background-image: url(./components/picture/cross.png) ;
  background-size: cover;
}

.zero{
  height: 100px;
  width: 100px;
  background: rgb(226, 43, 43);
  background-image: url(./components/picture/zero.png) ;
  background-size: cover;
}

.btn-primary{
  font-size: 15pt;
}

.button{
  margin-left: 38%;
}

.Active_Player1{
  position: absolute;
  display: flex;
  width:220px;
  height: 50px;
  left:0;
}

.Active_Player2{
  position: absolute;
  display: flex;
  right:0; 
  width: 220px;
  height: 50px;
}

.name_1  {
  position: absolute;
  left: 0;
  width: 170px;
  height: 50px;            
}
.name_2  {
  position: absolute;
  right: 0;
  width: 170px;
  height: 50px;            
}

.mov_X {
  position: absolute;
  left: 0;
  width: 163px;
  height: 47px;
  border: red 2px solid;
  bordertop: none;
  borderleft: none;
  borderright: none;
}

.mov_O {
  position: absolute;
  right: 0;
  width: 163px;
  height: 47px;
  border: red 2px solid;
  bordertop: none;
  borderleft: none;
  borderright: none;
}


/* GameList ---------------------------------------------------------------- */

.Add{
  position: absolute;
  font-weight: bolder;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-image: url(./components/picture/+.png) ;
  background-size: cover;

}

.pole_name{  
  margin-top: 70px;
  width: 400px;
  height: 40px;
  border: 2px solid grey;
  border-top: none;
  border-left:none;
  border-right: none;
  margin-left: 10px;
}

.Add_player{
  position: fixed;
  width: 70px;
  height: 70px;
  right: 30px;
  bottom: 40px;    
  line-height: 50px;
}

.select_game{
  display: flex;
  flex-wrap: wrap;
  background: rgb(190, 183, 183);
  width: 100%;
  height: 100%;
}

.game{
  height: 100px;
  width: 145px;
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 3%;
  
}

.first{
  height: 50%;
  width: 100%;
  border-top: none;
  border-left:none;
  border-right: none;
  border-bottom: 1px solid black;
  background: grey;
  white-space:pre-wrap;
  padding: 10px;
  text-overflow: ellipsis;
  font-size: 15pt;
}

.second{
  height: 50%;
  width: 100%;
  border-top: 1px solid black;
  border-left:none;
  border-right: none;
  border-bottom: none;
  background: grey;
  white-space:pre-wrap;
  padding: 10px;
  text-overflow: ellipsis;
  font-size: 15pt;  
}
.winn_player{
  height: 50%;
  width: 100%;
  color:red;
  white-space:pre-wrap;
  padding: 10px;
  text-overflow: ellipsis;
  font-size: 15pt;
}
