.disp{
  position: relative;
  height: 100%;
  width: 100%;
  border: double 2px green;

}
.title_game{
  position: absolute;
  height: 60px;
  width: 100%;
  background: black;
  color: white;
  text-align: left;
}

.title_text{
  position: absolute;
  padding: 10px;
}

.pole{
  border: solid 3px red;
  /* position: absolute; */
  margin-top: 60px;
  margin-left: 35%;
  float:center;
  height:80%;
  width:34%;
  background: gainsboro;
}
.player_name{
  border: solid 1px green;
  width: 100%;
  height: 50px;
  background: gainsboro;
 

}
.first_player{
float: left;
width: 45%;
height: 50px;
border: solid 1px blue;
}
.second_player{
  float: right;
  width: 45%;
  height: 50px;
  border: solid 1px blue;
  }

.my-flex-container{
  /* position: fixed; */
  margin-left: 17%;
  border: solid 1px rgb(36, 10, 97);
  height: 100%;
  width: 80%; 
  display: flex;
  flex-wrap: wrap;
}

.my-flex-block-A1{  
  border: solid 3px orange;
  height: 100px;
  width:  100px;
  border-left: none;
  border-top: none;
  
}
.my-flex-block-A2{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-top: none;
}
.my-flex-block-A3{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-top: none;
  border-right: none;
}
.my-flex-block-B1{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-left: none;
}
.my-flex-block-B2{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
}
.my-flex-block-B3{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-right: none;
}
.my-flex-block-C1{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-left: none;
  border-bottom: none;
}
.my-flex-block-C2{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-bottom: none;
}
.my-flex-block-C3{  
  border: solid 3px orange;
  height: 100px;
  width: 100px;
  border-bottom: none;
  border-right: none;
}
.cross{
  
  height: 150px;
  width: 150px;
}

.zero{
  height: 150px;
  width: 150px;
}
.btn-primary{
  font-size: 15pt;
}

.time{
  width: 100%;
  height: 50px;
  border: solid 1px olive;
  /* align: center; */
}
.button{
  margin-left: 30%;
}